# Ignore everything
*

# Except these
!.gitignore
!transcription-speech-to-text-hebrew/
!transcription-speech-to-text-hebrew/**
!media-fixing-and-repair/
!media-fixing-and-repair/**
!scripts/
!scripts/**
!media-files-conversion-ffmpeg/
!media-files-conversion-ffmpeg/**
!hebrew-tech-lecture-summary/
!hebrew-tech-lecture-summary/**
!.github/
!.github/**
